




.DView {
position: absolute;
top: 50%;
left: 50%;
margin-top:20%;
margin-bottom: 20%;
transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  font: 100% Helvetica, sans-serif;
}

.prev {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-90%, -50%);
  font: 100% Helvetica, sans-serif;
}
