.search {
    color: skyblue;
    text-align: center;
    margin-top: 30%;
    color: gray;

    //border: 1px solid #f60;
    outline: display;
}
.back {
  color: skyblue;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
